body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffff00;
  padding: 40px;
}

h1 {
  color: #2c3e50;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
.contador {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.contador button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.contador input {
  width: 50px;
  text-align: center;
  font-size: 16px;
}
